/* ====================
    VARIABLES & FONTS
==================== */

:root {
    --dark-grey: #0D1117;
    --dark-purple: rgba(13,17,23,1);
    --teal: hsl(186 100% 69%);
    --pink: #f226d7;
}

/* --- MONA SANS --- */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('../fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* --- HUBOT SANS --- */
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* ====================
    STYLES
==================== */

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Mona Sans', serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hubot Sans', serif;
    font-weight: unset;
}

h1 {
  font-size: clamp(1rem, 4.5vw + 1rem,4.5em);
  line-height: 1.1em;
  font-weight: 600;
  text-shadow: 3px 2px 6px var(--dark-grey);
}

h2 {
    font-size: clamp(1rem, 3vw + 1rem,3rem);
    line-height: 1.3em;
    margin: 0 0 3rem;
}

h2 {
  font-size: clamp(1rem, 2.5vw + 1rem,2.5rem);
  line-height: 1.5em;
  margin: 0 0 3rem;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.container-sml {
    max-width: 60%;
    margin: 0 auto;
}

.container-xsml {
  max-width: 40%;
  margin: 0 auto;
}

#introWrap {
    background-image: linear-gradient(180deg, rgb(160 0 163 / 52%), rgb(0 0 0 / 100%)), url(../images/cyberpunk-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
    background-attachment: fixed;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    flex-wrap: wrap;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  text-shadow: 3px 2px 6px var(--dark-grey);
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3em;
}

nav a {
    color: #fff;
    position: relative;
    text-shadow: 3px 2px 2px rgba(0,0,0,.6);
}

nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 17px;
  background-color: var(--teal);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
  box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
}


nav a:hover::before,
nav a.active::before {
transform-origin: left;
transform: scaleX(1);
}


.intro {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 200px 16px;
}

.intro .text {
    max-width: 600px;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.intro .text h1 {
    margin: 0;
}

.glowing-btn {
  font-family: 'Hubot Sans', sans-serif;
  width: fit-content;
  color: var(--teal);
  padding: .6em 2em;
  cursor: pointer;
  border: 0.15em solid var(--teal);
  border-radius: 0.45em;
  background: none;
  font-size: .8em;
  line-height: 1em;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
  box-shadow: inset 0px 0px 0.5em 0px var(--teal),
    0px 0px 0.5em 0px var(--teal);
  animation: border-flicker 5000ms linear infinite;
}

.glowing-btn:hover {
  color: var(--teal);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

.intro .intro-image {
  background-color: #fff;
}

#informationWrap {
  background-color: rgba(13,17,23,1);
  color: #fff;
  text-align: center;
  padding: 14em 0;
  position: relative;
}

.card-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
    flex: 1 200px;
}

.card .image {
    border: 2px solid var(--pink);
    border-radius: 12px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--pink),
    0px 0px 0.5em 0px var(--pink);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--pink),
    0px 0px 0.5em 0px var(--pink);
  box-shadow: inset 0px 0px 0.5em 0px var(--pink),
    0px 0px 0.5em 0px var(--pink);
}

.card .text {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
}

#quoteWrap {
  background-color: var(--dark-purple);
  color: #fff;
}

.quote {
    margin: 0;
    padding: 4em 0;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right bottom, rgba(13, 17, 23, 1) 0%, #743ad5 25%, #d53a9d 50%,  #743ad5 75%, rgba(13, 17, 23, 1) 100%);
    border-left: 0;
    border-right: 0;
}

.quote p {
  font-size: clamp(1rem, 3vw + 1rem,3rem);
  line-height: 1.3em;
  font-weight: 300;
  background: linear-gradient(to bottom right, var(--teal), #743ad5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.author {
  color: #fff;
  background: none;
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 1.2em;
  text-align: right;
  font-size: clamp(.8em, 1.6vw + 1em,2em);
  font-weight: 500;
  letter-spacing: 0.08em;
}

.author::before {
  content: "-";
}

#ctaWrap {
  background-color: var(--dark-purple);
  padding: 14em 0;
}

.cta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0.4em;
  padding: 1.8em 3em;
  background-color: #fff;
}

.cta .text {
  flex: 3;
}

.cta button {
  flex: 1;
}

footer {
    background-color: var(--dark-purple);
    color: #fff;
    text-align: center;
    padding: 2em;
    font-size: 1.1em;
}


/* ====================
    ANIMATIONS
======================= */
  
@keyframes border-flicker {
  0% {opacity: 1;}
  1% {opacity: .1;}
  2% {opacity: 1;}
  3% { opacity: .1;}
  4% { opacity: 1;}
  20% { opacity: 1;}
  21% { opacity: .1;}
  22% { opacity: 1;}
  23% { opacity: .1;}
  24% { opacity: 1;}
  60% { opacity: 1;}
  61% { opacity: .1;}
  62% { opacity: 1;}
  63% { opacity: .1;}
  64% { opacity: 1;}
  65% { opacity: 1;}
  66% { opacity: .1;}
  67% { opacity: 1;}
  68% { opacity: .1;}
  69% { opacity: 1;}
  100% { opacity: 1;}
}